#header
  #headline
    #headline-hex
      #title
        Dev
        %br
        Jobs(?)
        %br
        Tweets
  #notices-etc
    %h5 *Updates hourly.
    %h5.mobile-no-show *No guarantee that any of the  below pertain to dev jobs (but, c'mon, they mostly do)&#8212;an exhaustive search of Twitter is neither permitted nor possible.
    %h5 *Search parameters emphasize junior ruby/rails roles
    %h5.mobile-no-show *Below are the most recent 300 of all results (an archive listing of all is forthcoming), and favors results from following over those from searching.
    #color-key
      %h3 Color Key
      #color-key-new.color-key-div
        .color-div#new
        %span
          New
      #color-key-junior.color-key-div
        .color-div#junior
        %span
          Mention Junior/Jr/Internship/Entry Level
      %br#color-key-break
      #color-key-friend.color-key-div
        .color-div#by-friend-1
        .color-div#by-friend-2
        .color-div#by-friend-3
        %span
          From following
      #color-key-stranger.color-key-div
        .color-div#by-stranger-1
        .color-div#by-stranger-2
        .color-div#by-stranger-3
        %span
          From searching
    %br
    #filters-container
      %h3 Filters (most frequent useful hashtags and other concerns)
      #filter-buttons
        %button{class: "active-button", data: {filter: "*"}}
          all
        %button{data: {filter: ".junior"}}
          junior
        %button{data: {filter: ".new-tweet"}}
          new
        %button{data: {filter: ".followed"}}
          followed
        %button{data: {filter: ".searched"}}
          searched
        %button{data: {filter: ".remote"}}
          remote    
        - @hashtags.each do |hashtag|
          %button{data: {filter: ".#{hashtag}"}}
            = "##{hashtag}"
#tweets-container
  - @tweets.each do |tweet|
    %div{class: "isotope-tweet tweet-hex-#{tweet_hex_main_class(tweet)} #{tweet_hex_filter_classes(tweet, @hashtags)}"}
      .tweet-contents
        .tweeter-avatar
          = image_tag tweet.tweeter_avatar
        .tweeter-handle
          = link_to tweet.tweeter_handle, tweet.tweeter_url, target: "blank"
        .tweet-text
          = auto_link(tweet.text, html: {target: 'blank'})
        .tweet-age
          %span &#124;
          = "#{time_ago_in_words(tweet.twitter_created_at)} old".capitalize