#header
  %h1 DevJobs(?)Tweets
  %h5 *Updates hourly.
#tweets-container
  - @tweets.each do |tweet|
    %div{class: "tweet-hex-#{tweet_hex_class(tweet)}"}
      .tweet-contents
        .tweeter-avatar
          = image_tag tweet.tweeter_avatar
        .tweeter-handle
          = link_to tweet.tweeter_handle, tweet.tweeter_url
        .tweet-text
          = auto_link(tweet.text, html: {target: 'blank'})
        .tweet-age
          = "#{time_ago_in_words(tweet.created_at)} old".capitalize