#header
  %h1 DevJobs(?)Tweets
  %h5 *Updates hourly.
  %h5 *No guarantee that any of the tweets below pertain at all to web development or jobs (but, c'mon, they mostly do), and an exhaustive search of Twitter is neither permitted nor possible.
  #color-key
    %h3 Color Key
    %span
      New
    .color-div#new
    %span
      Mention Junior/Jr.
    .color-div#junior
    %span
      From those I follow
    .color-div#by-friend-1
    .color-div#by-friend-2
    .color-div#by-friend-3
    %span
      From searching (e.g., "web", "ruby", "developer", "designer", etc.)
    .color-div#by-stranger-1
    .color-div#by-stranger-2
    .color-div#by-stranger-3
  %br
  #filters-container
    %h3 Filters and Top 10 Hashtags
    %button{data: {filter: "*"}}
      all
    %button{data: {filter: "junior"}}
      junior
    %button{data: {filter: "new"}}
      new
    %button{data: {filter: "followed"}}
      followed
    %button{data: {filter: "searched"}}
      searched
    %button{data: {filter: "remote"}}
      remote    
    - @hashtags.each do |hashtag|
      %button{data: {filter: "#{hashtag.text}"}}
        = "##{hashtag.text}"
#tweets-container
  - @tweets.each do |tweet|
    %div{class: "tweet-hex-#{tweet_hex_class(tweet)}"}
      .tweet-contents
        .tweeter-avatar
          = image_tag tweet.tweeter_avatar
        .tweeter-handle
          = link_to tweet.tweeter_handle, tweet.tweeter_url
        .tweet-text
          = auto_link(tweet.text, html: {target: 'blank'})
        .tweet-age
          = "#{time_ago_in_words(tweet.created_at)} old".capitalize