%div{class: "isotope-tweet tweet-hex-musing #{junior_class_if_junior(musing)} musing"}
  .tweet-contents
    .musing-company-logo
      = image_tag musing.company_logo
    .tweeter-handle.musing-company-name
      = musing_company_url(musing.company_name)
    .musing-title
      = musing_hiring_statement(musing)
    .tweet-age
      %span.musing-age &#124;
      = "#{time_ago_in_words(musing.muse_created_at)} old".capitalize
    .musing-apply-link
      = musing_apply_link_statement(musing.apply_link)