#archive-header
  #archive-title
    %span.mobile-only
      = number_with_delimiter(@posts.count, :delimiter => ',')
    DevJobs(?)Tweets
  #archive-color-key
    #color-key-junior.color-key-div
      .color-div#junior
      %span.mobile-no-show
        Mention
      %span
        Junior/Jr/Internship/Entry Level
    #color-key-friend.color-key-div
      .color-div#by-friend-1
      .color-div#by-friend-2
      .color-div#by-friend-3
      %span
        From following
    #color-key-stranger.color-key-div
      .color-div#by-stranger-1
      .color-div#by-stranger-2
      .color-div#by-stranger-3
      %span
        From searching
    #color-key-musing.color-key-div
      .color-div#musing
      %span
        From
        %a{href: "https://www.themuse.com/", target: "_blank", class: "special-link"}
          The Muse
  #archive-notice
    %p.mobile-no-show
      = "There are #{number_with_delimiter(@posts.count, :delimiter => ',')} jobs (?) listed below: #{@juniors_count} for juniors (tweets and The Muse), #{@friends_count} from following, #{@strangers_count} from searching, and #{@musings_count} from The Muse."
    %p.mobile-no-show
      Those from searching are deleted once a week old, from following are deleted once two weeks old, and from The Muse are deleted once three months old.
    %p.mobile-no-show
      For a filterable listing, visit the 
      = link_to "home", root_path, class: "special-link"
      page.
    %p.mobile-only
      = link_to "Home", root_path, class: "special-link"
  #sort-buttons-container
    #sort-buttons.button-group
      %button{id: "chronological", class: "active-button", data: {"sort-value" => "original-order"}}
        chronological
      %button{data: {"sort-value" => "category"}}
        category
      %button{data: {"sort-value" => "handle"}}
        handle
#archive-container
  - @posts.each do |post|
    .post-listing{class: archive_listing_classes(post)}
      = haml_for_post post
- if in_production?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58243606-2', 'auto');
    ga('send', 'pageview');
