#index-header
  #headline
    #headline-hex
      #title
        Dev
        %br
        Jobs(?)
        %br
        Tweets
  #notices-etc
    %h5
      *Searches Twitter and 
      %a{href: "https://www.themuse.com/", target: "_blank", class: "special-link"}
        The Muse 
      for developer jobs.
    %h5 *Updates from Twitter hourly and The Muse twice weekly
    %h5.non-desktop-no-show *No guarantee that any of the  below pertain to dev jobs or that all the dev jobs have been found (c'mon)
    %h5 *Search parameters emphasize junior ruby/rails roles
    %h5
      *Below are the most recent 300
      %span.non-desktop-no-show
        (favoring followed/The Muse over searched) of all results. Visit the
        = link_to "Archive", archive_path, class: "special-link"
        for a sortable list of all results.
    %h5.non-desktop-only
      *
      = link_to "Archive", archive_path, class: "special-link"
    #index-color-key
      %h3 Color Key
      #color-key-junior.color-key-div
        .color-div#junior
        %span
          Mention Junior/Jr/Internship/Entry Level
      %br.color-key-break
      #color-key-friend.color-key-div
        .color-div#by-friend-1
        .color-div#by-friend-2
        .color-div#by-friend-3
        %span
          From following
      #color-key-stranger.color-key-div
        .color-div#by-stranger-1
        .color-div#by-stranger-2
        .color-div#by-stranger-3
        %span
          From searching
      %br.color-key-break
      #color-key-musing.color-key-div
        .color-div#musing
        %span
          From
          %a{href: "https://www.themuse.com/", target: "_blank", class: "special-link"}
            The Muse
    %br
    #filters-container
      %h3 Filters (most frequent useful hashtags and other concerns)
      #filter-buttons
        %button{class: "active-button", data: {filter: "*"}}
          all
        %button{data: {filter: ".junior"}}
          junior
        %button{data: {filter: ".musing"}}
          the muse
        %button{data: {filter: ".followed"}}
          followed
        %button{data: {filter: ".searched"}}
          searched
        %button{data: {filter: ".remote"}}
          remote    
        - @hashtags.each do |hashtag|
          %button{data: {filter: ".#{hashtag}"}}
            = "##{hashtag}"
#index-container
  - @posts.each do |post|
    = haml_for_post post
