!!! 5
%html
  %head
    = favicon_link_tag 'devjobstweets-favicon.ico'
    %title
      = yield(:title).empty? ? 'Dev Jobs Tweets' : yield(:title)
    %link{href: 'http://fonts.googleapis.com/css?family=Arvo:700', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Carrois+Gothic', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{property: 'og:site_name', content: 'Dev Jobs Tweets'}
    %meta{property: 'og:image', content: display_path_with_protocol_and_host(image_path('devjobstweetslogo.png'))}

  %body
    %p.notice
      = notice
    %p.alert
      = alert
    = yield
    %footer
      %h4
        %a{href: "http://www.jasonbanks.io", target: "_blank", class: "special-link"}
          Jason Banks 
        designed and built this, principally to benefit himself.